automations/n8n-newsletter-new.json
{
  "name": "Imperium - Daily Newsletter",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24,
              "triggerAtHour": 11
            }
          ]
        }
      },
      "id": "schedule",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "getAll",
        "table": "products",
        "filters": {
          "where": [
            {
              "column": "in_stock",
              "condition": "eq",
              "value": true
            }
          ]
        },
        "returnAll": true
      },
      "id": "getProducts",
      "name": "Get Products",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "functionCode": "const products = $input.first().json || [];\n\nlet selectedProduct = {name: \"Imperium Classic Tee\", category: \"shirts\", description: \"Premium cotton t-shirt\", price: 29.99};\n\nif (products.length > 0) {\n  const randomIndex = Math.floor(Math.random() * products.length);\n  selectedProduct = products[randomIndex];\n}\n\nreturn {product: selectedProduct};"
      },
      "id": "select",
      "name": "Select Product",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:11434/api/generate",
        "method": "POST",
        "sendBody": true,
        "body": "{\"model\": \"llama3.2\", \"prompt\": \"Write a short marketing post (2-3 sentences) about the Imperium product: {{$json.product.name}}. Make it sound premium and exclusive.\", \"stream\": false}",
        "options": {}
      },
      "id": "newsletter",
      "name": "Generate Newsletter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [850, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:11434/api/generate",
        "method": "POST",
        "sendBody": true,
        "body": "{\"model\": \"llama3.2\", \"prompt\": \"Write a short motivational quote (max 15 words) about fashion and confidence.\", \"stream\": false}",
        "options": {}
      },
      "id": "quote",
      "name": "Generate Quote",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "newsletters",
        "columns": ["title", "content", "published", "created_at"],
        "schema": "public",
        "returnAll": false
      },
      "id": "saveNews",
      "name": "Save Newsletter",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "daily_quotes",
        "columns": ["quote", "created_at"],
        "schema": "public",
        "returnAll": false
      },
      "id": "saveQuote",
      "name": "Save Quote",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "chat_id": "8459911167",
        "text": "📸 *Imperium Daily Drop*\n\n{{$json.response}}\n\n\"{{$json.response}}\"\n\n🧠 [28 Principles](https://mywebsite.com/28principles) • 📰 [Daily Post](https://mywebsite.com/newsletter)",
        "reply_markup": {
          "inline_keyboard": [
            [{"text": "🧠 28 Principles", "url": "https://mywebsite.com/28principles"}, {"text": "📰 Daily Post", "url": "https://mywebsite.com/newsletter"}]
          ]
        }
      },
      "id": "telegram",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1650, 300]
    }
  ],
  "connections": {
    "Schedule Trigger": {"main": [[{"node": "Get Products", "type": "main", "index": 0}]]},
    "Get Products": {"main": [[{"node": "Select Product", "type": "main", "index": 0}]]},
    "Select Product": {"main": [[{"node": "Generate Newsletter", "type": "main", "index": 0}]]},
    "Generate Newsletter": {"main": [[{"node": "Generate Quote", "type": "main", "index": 0}]]},
    "Generate Quote": {"main": [[{"node": "Save Newsletter", "type": "main", "index": 0}]]},
    "Save Newsletter": {"main": [[{"node": "Save Quote", "type": "main", "index": 0}]]},
    "Save Quote": {"main": [[{"node": "Send Telegram", "type": "main", "index": 0}]]}
  },
  "settings": {}
}
